<!--FONTS-->
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  



body {
	background-color: #000000;
	margin: 0;
	font-size: 16px;
	letter-spacing: -0.015em;
	font-kerning: normal;
}

.wrap {
	max-width: 1024px;
	margin: auto;
}

.logo {
	background-image: url('../images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 70px;
	padding: 0 36px 15px;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }


@keyframes fadein-banner {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein-banner-animation {
  animation: 2s fadein-banner;
}

@keyframes fadein-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein-text-animation {
  animation: 4s fadein-text;
}



  
.product-title {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: -20px;
}

.product-header {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2
}

.product-blurb {
  font-size:1rem;
  margin-top: -0.5rem;
}

@media (min-width: 1600px) {
  .product-title {
      font-size:14rem;
      margin-top: -50px;
  }
  .product-header {
      font-size:2rem;
  }
  .product-blurb {
    font-size:2rem;
    margin-top: -3rem;
  }
}